@model List<ProductInfo>

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Productos</h1>

<table class="table table-striped" id="mydataTable">
    <thead>
        <tr>
            <th>
                Nombre Producto
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductInfo product in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.TotalStock)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>

        $(document).ready(function () {
            $(document).ready(function () {
                $('#mydataTable').DataTable();
            });
        });

    </script>

}