@model TopProduct

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Total Ordenes</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.ProductName</td>
                <td>@Model.TotalOrders</td>
            </tr>
    </tbody>
</table>